/*main styling*/
body {
    font-family: Montserrat-regular, sans-serif;
}

.wrapper {
    max-width: 1210px;
    margin: 0 auto;
    height: 100%;
}
/*Intro section*/
.intro-section{
    width: 100%;
    background: url(../images/group-1.png) no-repeat center;
    height: 1000px;
}

.header {
    max-width: 1096px;
    margin: 0 auto;
    display: flex;
    height: 57px;
    justify-content: space-between;
}

.header-name{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}

.nav-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-menu-item{
    display: inline-flex;
    font-size:14px;
    color: #ffffff;
    text-transform: uppercase;
    height: 100%;
    align-items: center;
    margin: 0px 26px 0px 12px;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
}

.nav-menu-item:hover{
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}

.shopping-cart{
    height: 15px;
    width: 18px;
}

.magnifying-glass{
    height: 18px;
    width: 18px;
}
/*service section*/
.service-section{
    max-width: 802px;
    text-align: center;
    margin: 0 auto;
    height: 865px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-section__description{
    margin: 0px;
    font-size: 72px;
    font-family: 'Kaushan Script', cursiv;
    color: white;
    line-height: normal;
}

.service-section__title{
    margin: 0 auto;
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 140px;
    font-family: 'Montserrat', extra-bold;
    line-height: 0.93;
    letter-spacing: normal;
    color: white;
    text-align: center;

}

.service-section__title::after {
    margin: 59px auto 51px auto;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: white;
}

.btn-learn{
    padding: 9px 30px 9px 30px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid white;
    text-decoration: none;
    margin: 0 auto;
}

.intro-section-info{
    padding: 0px;
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-section-info-item{
    padding: 25px 0px 0px 0px;
    border-top: 3px solid white;
    width: 23%;
    text-transform: uppercase;
    font-size: 18px;
    align-items: flex-end;
    color: white;
    opacity: 0.5;
}

.intro-section-info-item-first{
    border-top: 3px solid white;
    width: 23%;
    text-transform: uppercase;
    font-size: 18px;
    align-items: flex-end;
    color: white;
    opacity: 0.5;
}

.intro-section-info-item-first:before{
    content: '';
    display: block;
    border-top: 3px solid red;
    margin-top: -3px;
    padding-top: 25px;
    max-width: 70px;

}

.intro-section-info-item number{
    font-size: 24px;
    font-weight: bold;
}

/*About Us section*/
.section__header{
    text-align: center;
}

.section__upTitle{
    padding-top: 91px;
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
}

.section__title{
    position: relative;
    margin: 0px;
    padding-top: 23px;
    font-family: 'Montserrat', extra-bold;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    padding-bottom: 40px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.section__title::after{
    position: absolute;
    bottom: 0px;
    right: calc(50% - 30px);
    margin: 0 auto;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.section__info{
    padding-top: 47px;
    max-width: 954px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.6;
    color: #999999;
    font-family: 'Roboto';
}

.section__wrapper{
    max-width: 1210px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    padding-bottom: 110px;
}

.section__image:hover .background, .users, .super-team {
    display: inline;
    top: -10px;
    left:-10px;
}

.section__image:hover .background{
    display: inline;
    opacity: 0.9;
    box-shadow: 10px 10px #95e1d3;
}

.section__image:hover .users {
    display: inline;
    box-shadow: none;
}

.section__image:hover .super-team {
    display: inline;
    box-shadow: none;
}

.picture{
    width: 100%;
    /*height: 100%;*/
}

.background {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.section__image{
    position: relative;
    margin: 0 15px 0 15px;
    width: 100%;
}

.users{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    position: absolute;
    display: none;
}

.super-team {
    top:  50%;
    left:  50%;
    transform: translate(-50%,50%);
    position: absolute;
    display: none;
}

.aboutUs__info{
    background:#95e1d3;
    display: flex;
    justify-content: center;
}

.bottom__wrapper{
    display: flex;
    max-width: 1210px;
    width: 100%;
}

.aboutUs__info-item{
    width: 100%;
    border-left: 1px solid rgba(255,255,255,0.3);
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-top: 89px;
    padding-bottom: 90px;
    color: white;
    font-weight: normal;
}

.aboutUs__info-item number{
    font-family: 'Montserrat', extra-bold;
    font-weight: bold;
    padding-bottom: 29px;
    font-size: 72px;
    color: white;
}

.aboutUs__info-item:last-child{
    border-right: 1px solid rgba(255,255,255,0.3);
}

/*Services section*/
.section__services {
    max-width: 1200px;
    margin: 60px auto 0px auto;
}

.section__services-row{
    display: flex;
    justify-content: space-evenly;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #e5e5e5;
}

.activities{
    display: flex;
    align-items: flex-start;
    flex-basis: 320px;
}

.services__info{
    padding-left: 27px;
}

.services__info-title{
    margin:0px;
    padding-bottom: 20px;
    font-family: Montserrat-regular;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

.services__info-text-col{
    font-family: Roboto-regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.6;
}

/*What we do section*/

.whatWeDo__section--info {
    max-width: 1200px;
    min-height: 380px;
    margin: 90px auto 0px auto;
    display: flex;
}

.whatWeDo__section--info img{
    margin-right: 30px;
    align-self: flex-start;
}

.whatWeDo__section--info_actions{
    max-width: 600px;
    width: 100%;
}

.showMe{
    display: flex;
    border: 1px solid #e5e5e5;
}

.whatWeDo--activities img{
    padding: 15px;
    width: 30px;
    height: 30px;
    margin: 0;
}

.photo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.whatWeDo--activities:nth-child(2){
    margin: 10px 0 10px 0;
}

.whatWeDo--explanation{
    display: none;
    border: 1px solid #e5e5e5;
    border-top:none;
    font-size: 15px;
    font-family: Roboto;
    font-style: italic;
    line-height: 1.4;
    text-align: left;
    color: #999999;
    padding: 21px 55px 28px 20px;
}

.whatWeDo--activities:hover .whatWeDo--explanation{
    display:block;
}

.whatWeDo--motto{
    background: #f8f8f8;
}

.whatWeDo--info{
    max-width: 990px;
    margin: 120px auto 0 auto;
    display: flex;
    padding: 70px 0 70px 0;
}

.whatWeDo--image-background{
    display: inline;
    position: relative;
}

.whatWeDo--image-speech{
    position: absolute;
}

.whatWeDo--images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.motto{
    font-size: 24px;
    font-family: Roboto;
    font-style: italic;
    line-height: 1.5;
    color: #999999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-left: 61px;
}

p::before{
    display: inline-block;
    content: "";
    border-top: 3px solid #f38181;
    width: 60px;
    margin: 0 10px;
    transform: translateY(-5px);
}

p{
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
    margin: 15px 0 0 0;
    line-height: normal;
}

/*Meet our team section*/

.team--name{
    font-family: Montserrat-regualar;
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding: 31px 0 15px 0;
    text-transform: uppercase;
}

.team--position{
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    color: #999999;
    text-align: center;
}

.team--connection{
    display: flex;
    max-width: 224px;
    max-height: 56px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    position: absolute;
    background: #fce38a;
    display: none;
}

.ourTeam__background{
    display: none;
    position: absolute;
    width: 100%;
}

.section__image:hover .ourTeam__background{
    top: -10px;
    left:-10px;
    display: inline;
    opacity: 0.9;
    box-shadow: 10px 10px #95e1d3;
}

.socialMedia{
    position: relative;
    max-width: 56px;
    width: 100%;
    max-height: 56px;
    height: 100%;
    text-align: center;
}
.icon--connection{
    position: absolute;
    top: 25%;
    left:25%;
}

.svg{
    position: absolute;
    top: 25%;
    left:40%;
}

.icon--socialMedia{
    fill:#f38181;
}

.section__image:hover .team--connection{
    display: flex;
}

.socialMedia:hover{
    background: #f38181;
}

.socialMedia:hover .icon--socialMedia{
    fill:#ffffff;
}

.section__hipster{
    margin-top: 80px;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
}

.hipster{
    padding: 51px 0 50px 0;
    max-width: 1212px;
    width: 100%;
}

/*Some of our work section*/

.ourWork__section{
    margin:0 auto;
}

.ourWork__images {
    max-width: 1920px;
    padding-top: 102px;
    max-height: 780px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.work__images-background{
    display: none;
    position: absolute;
    opacity: 0.8;
}

.work__image{
    display: flex;
    max-height: 780px;
    height: 100%;
    position: relative;
}

.work__image:hover .work__images-background{
    display: flex;
}

.work__image:hover .work__images-background2{
    display: flex;
    max-height: 780px;
    max-width: 480px;
    width:100%;
    height: 100%;
}

.work__images-background2{
    display: none;
    position: absolute;
    opacity: 0.8;
}

.background__text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    display: none;
}

.work__image:hover  .background__text{
    display: inline;
}

.logo{
    filter: brightness(2.5);
}

.logo__title{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat-regular;
    padding: 20px 0 17px 0;
}

.logo__text{
    color: #ffffff;
    font-size: 15px;
    font-family: Roboto sans-serif;
    font-style: italic;
}

.whatWeDo__info--ourWork{
    max-width: 1010px;
    padding-bottom: 130px;
}

.whatWeDo__image-background--ourWork{
    border-radius: 50%;
}

.motto--ourWork{
    padding-left: 31px;
}

/*Happy clients section*/

.happyClients__section{
    background: url(../images/Layer_53.jpg) no-repeat center;
}

.ourClients{
    padding: 60px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activities--client{
    flex-basis: 450px;
    margin-bottom: 60px;
}

.image__client{
    border-radius: 50%;
    margin-right: 30px;
}

.team__name--client{
    padding: 12px 0 15px 0;
    text-align: start;
}

.team__position--client{
    text-align: start;
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 24px;
}

.team__position--client::after{
    position: absolute;
    bottom: 0px;
    left: 0;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

/*Our stories section*/

.team__name--ourStories{
    padding: 20px 0 20px 0;
    text-align: start;
}

.team__position--ourStories {
    text-align: start;
    line-height: 1.6;
    color: #999999;
}

.ourStories{
    margin: 20px 0 20px 0;
}

.responds{
    display: flex;
}

.views{
    font-size: 15px;
    font-style: italic;
    font-family: Roboto;
    color: #999999;
    line-height: 1;
}

.comments{
    font-size: 15px;
    font-style: italic;
    font-family: Roboto;
    color: #999999;
    line-height: 1;
}

.eye{
    max-height: 12px;
    margin-right: 7px;
}

.speech{
    margin: 0px 6px 0px 17px;
}

.image-block{
    position: relative;
}

.date-block{
    position: absolute;
    bottom: 10px;
    left: -10px;
    background: #95e1d3;
    color: white;
    padding: 15px;
}

.day{
    font-family: Montserrat-bold;
    font-weight: bold;
    font-size: 30px;
}

.month{
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}




