/*main styling*/
body{
    font-family: Montserrat-regular, sans-serif;
    width: 1920px;
}

wrapper{
    height: 100%;
    margin: 0 auto;
    padding: 0px;
}
/*Intro section*/
.intro-section{
    background-image: url(../images/banner.png);
    background-size: cover;
    height: 1000px;
}
/*header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 64px;
}

.header-name{
    padding-bottom: 14px;
    padding-left: 362px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    height: 23px;
}

.nav{
    width: 50%;
}

.nav-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 358px;
}

.nav-menu-item{
    display: inline-flex;
    font-size:14px;
    color: #ffffff;
    text-transform: uppercase;
}

.nav-menu-item-link {
    display:flex;
    align-items: flex-end;
    padding-bottom: 14px;
}

.nav-menu-item-link:hover, .magnifying-glass:hover, .shoping-cart:hover{
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 11px;
}

.shoping-cart{
    height: 15px;
    width: 18px;
}

.magnifying-glass{
    height: 18px;
    width: 18px;
}
/*service section*/
.service-section{
    text-align: center;
    padding-bottom: 150px;
    margin: 0 auto;
    max-width: 802px;
    padding-bottom: 166px;
}

.service-section__description{
    padding-top: 150px;
    margin: 0px;
    font-size: 72px;
    font-family: 'Kaushan Script', cursiv;
    color: white;
    line-height: normal;
}

.service-section__title{
    margin: 0px;
    padding-top: 22px;
    text-transform: uppercase;
    font-size: 150px;
    font-family: 'Montserrat', extra-bold;
    line-height: 0.93;
    letter-spacing: normal;
    color: white;
    text-align: center;
    padding-bottom: 11px;
}

.service-section__title::after {
    margin: 59px auto 51px auto;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: white;
}

.btn-learn{
    box-sizing: border-box;
    padding: 12px 29px 11px 30px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid white;
    text-decoration: none;
}

.bottom-menu{
    padding: 0px;
    list-style: none;
    margin: 0 350px 0px 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-menu-item{
    position: relative;
    padding-top: 25px;
    width: 280px;
    text-transform: uppercase;
    font-size: 18px;
    align-items: flex-end;
    color: white;
}

.bottom-menu-item number{
    font-size: 24px;
    font-weight: bold;
}

.bottom-menu-item::before{
    top: 0px;
    position: absolute;
    display: block;
    content: "";
    width: 280px;
    height: 3px;
    background-color: white;
    opacity: 0.5;
}

/*About Us section*/
.section__header{
    text-align: center;
}

.section__upTitle{
    padding-top: 91px;
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
}

.section__title{
    position: relative;
    margin: 0px;
    padding-top: 23px;
    font-family: 'Montserrat', extra-bold;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    padding-bottom: 40px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.section__title::after{
    position: absolute;
    bottom: 0px;
    right: calc(50% - 30px);
    margin: 0 auto;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.aboutUs-section .section__info{
    padding-top: 47px;
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.6;
    color: #999999;
    font-family: 'Roboto';
}

.story__wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}

.story__image:hover .background, .users, .super-team {
    display: inline;
    top: -10px;
    left:-10px;
}

.story__image:hover .background{
    display: inline;
    opacity: 0.9;
    box-shadow: 10px 10px #95e1d3;
}

.story__image:hover .users {
    display: inline;
    box-shadow: none;
}

.story__image:hover .super-team {
    display: inline;
    box-shadow: none;
}

.background {
    display: none;
    position: absolute;
}

.story__image{
    display: inline-block;
    position: relative;
}

 .users{
    margin: 103px 174px;
    position: absolute;
    display: none;
}

 .super-team {
    margin: 138px 130px;
    position: absolute;
    display: none;
}

 .footer__info{
     background:#95e1d3 ;
 }

 .table__info{
     width: 1200px;
     margin: 0 auto;
 }

 .bottom__wrapper{
     display: flex;
     justify-content: space-around;
 }

.footer__info-item{
    width: 100%;
    border-left: 1px solid rgba(255,255,255,0.3);
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-top: 89px;
    padding-bottom: 90px;
    color: white;
    font-weight: normal;
}

.footer__info-item number{
    font-family: 'Montserrat', extra-bold;
    font-weight: bold;
    padding-bottom: 29px;
    font-size: 72px;
    color: white;
}

.footer__info-item:last-child{
    border-right: 1px solid rgba(255,255,255,0.3);
}



