/*main styling*/
body {
    font-family: Montserrat-regular, sans-serif;
}

.wrapper {
    max-width: 1210px;
    margin: 0 auto;
    height: 100%;
}
/*Intro section*/
.intro-section{
    width: 100%;
    background: url(../images/group-1.png) no-repeat center;
    height: 1000px;
}

.header {
    max-width: 1096px;
    display: flex;
    height: 57px;
    justify-content: space-between;
}

.header-name{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}

.nav-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-menu-item{
    display: inline-flex;
    font-size:14px;
    color: #ffffff;
    text-transform: uppercase;
    height: 100%;
    align-items: center;
    margin: 0px 26px 0px 12px;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
}

.nav-menu-item:hover{
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}

.shopping-cart{
    height: 15px;
    width: 18px;
}

.magnifying-glass{
    height: 18px;
    width: 18px;
}
/*service section*/
.service-section{
    max-width: 802px;
    text-align: center;
    margin: 0 auto;
    height: 865px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-section__description{
    margin: 0px;
    font-size: 72px;
    font-family: 'Kaushan Script', cursiv;
    color: white;
    line-height: normal;
}

.service-section__title{
    margin: 0 auto;
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 140px;
    font-family: 'Montserrat', extra-bold;
    line-height: 0.93;
    letter-spacing: normal;
    color: white;
    text-align: center;

}

.service-section__title::after {
    margin: 59px auto 51px auto;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: white;
}

.btn-learn{
    padding: 9px 30px 9px 30px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid white;
    text-decoration: none;
    margin: 0 auto;
}

.intro-section-info{
    padding: 0px;
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-section-info-item{
    padding: 25px 0px 0px 0px;
    border-top: 3px solid white;
    width: 23%;
    text-transform: uppercase;
    font-size: 18px;
    align-items: flex-end;
    color: white;
    opacity: 0.5;
}

.intro-section-info-item-first{
    border-top: 3px solid white;
    width: 23%;
    text-transform: uppercase;
    font-size: 18px;
    align-items: flex-end;
    color: white;
    opacity: 0.5;
}

.intro-section-info-item-first:before{
    content: '';
    display: block;
    border-top: 3px solid red;
    margin-top: -3px;
    padding-top: 25px;
    max-width: 70px;
}

.intro-section-info-item number{
    font-size: 24px;
    font-weight: bold;
}

/*About Us section*/
.section__header{
    text-align: center;
}

.section__upTitle{
    padding-top: 91px;
    font-family: 'Kaushan Script';
    font-size: 24px;
    color: #333333;
}

.section__title{
    position: relative;
    margin: 0px;
    padding-top: 23px;
    font-family: 'Montserrat', extra-bold;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    padding-bottom: 40px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.section__title::after{
    position: absolute;
    bottom: 0px;
    right: calc(50% - 30px);
    margin: 0 auto;
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.section__info{
    padding-top: 47px;
    max-width: 954px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.6;
    color: #999999;
    font-family: 'Roboto';
}

.story__wrapper{
    max-width: 1210px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    padding-bottom: 110px;
}

.story__image:hover .background, .users, .super-team {
    display: inline;
    top: -10px;
    left:-10px;
}

.story__image:hover .background{
    display: inline;
    opacity: 0.9;
    box-shadow: 10px 10px #95e1d3;
}

.story__image:hover .users {
    display: inline;
    box-shadow: none;
}

.story__image:hover .super-team {
    display: inline;
    box-shadow: none;
}

.picture{
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.story__image{
    position: relative;
    margin: 0 15px 0 15px;
}

 .users{
     top: calc(50% - 22px);
     left: calc(50% - 26px);
    position: absolute;
    display: none;
}

 .super-team {
     top: calc(50% + 8px);
     left: calc(50% - 70px);
     position: absolute;
    display: none;
}

 .aboutUs__info{
     background:#95e1d3;
     display: flex;
     justify-content: center;
 }

 .bottom__wrapper{
     display: flex;
     max-width: 1210px;
     width: 100%;
  }

.aboutUs__info-item{
    width: 100%;
    border-left: 1px solid rgba(255,255,255,0.3);
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-top: 89px;
    padding-bottom: 90px;
    color: white;
    font-weight: normal;
}

.aboutUs__info-item number{
    font-family: 'Montserrat', extra-bold;
    font-weight: bold;
    padding-bottom: 29px;
    font-size: 72px;
    color: white;
}

.aboutUs__info-item:last-child{
    border-right: 1px solid rgba(255,255,255,0.3);
}


